*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none}
a:focus,:active{outline: none}

nav,footer,header,aside{display: block}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit}

input::-ms-clear{display: none}
button{cursor: pointer}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none}
a:hover{text-decoration: none}
ul li{list-style: none}
img{vertical-align: top}

h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

body{
    background-color: rgba(255, 192, 203, 0.8);
}



.pr{
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 0 0;
    font-family: "Bookman Old Style", serif ;
    font-size: 10px;
    color: white;
}
.text{
    font-family: "Bookman Old Style", serif ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 180px;
    font-size: 18px;
    color: white;
}
.buttonind{
    font-family: "Bookman Old Style", serif ;
    margin-top: 30px;
    text-align: center;
    color: white;

}
.buttonind button{

    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: pink;
    color: white;
}
.text li:first-child{
    text-decoration: line-through;
}
.text li:first-child:hover{
    text-decoration: none;
}
.text li:nth-child(2):hover{
    color: red;
}
.text li:nth-child(3){
    font-style: italic;
}
.text li:nth-child(3):hover{
    font-style: normal;
}
.buttonind button:hover{
    background-color: lightpink;
}
.buttonind button:active{
    background-color: hotpink;
}
.formula{
    font-family: "Bookman Old Style", serif ;
    border: 5px black;
    height: 200px;
    width: 400px;
    background-color: lightpink;
    text-align: center;
    font-size: 18px;
    color: white;

}
form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;
}
.formula:focus{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.img{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    max-height: 600px;
}
.imgc{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

